.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  //   background: rgba(10, 10, 20, 0.85);
  //   box-shadow: 0 2px 16px rgba(0,0,0,0.07);
  backdrop-filter: blur(8px);
  color: #fff;
  transition: background 0.3s;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    justify-content: center;
    padding: 0.7rem 1.5rem;
  }

  &__toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 110;
    margin-left: 1rem;
    span {
      display: block;
      height: 3px;
      width: 100%;
      background: #fff;
      margin: 3px 0;
      border-radius: 2px;
      transition: 0.3s;
    }
    &--open span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    &--open span:nth-child(2) {
      opacity: 0;
    }
    &--open span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  &__links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    li a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 400;
      transition: color 0.2s;
      &:hover {
        color: gray;
      }
    }
    .lang-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      background: none;
      border: 1px solid #af772e;
      border-radius: 4px;
      padding: 4px 10px;
      cursor: pointer;
      font-size: 0.9rem;
      color: #af772e;
      transition: all 0.3s ease;

      svg {
        stroke-width: 2;
      }

      &:hover {
        background-color: #af772e;
        color: #fff;
      }
    }

    &--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      /* prefer 100% to avoid adding viewport-width which can create
      horizontal scroll when scrollbars are present */
      width: 100%;
      // background: rgba(10, 10, 20, 0.97);
      background-color: #0a0a0a;
      padding: 2rem 0 1rem 0;
      gap: 1.5rem;
      align-items: center;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
      z-index: 105;
      animation: navbar-slide 0.3s;
    }
  }

  @media (max-width: 900px) {
    &__container {
      padding: 0.7rem 1rem;
    }
    &__links {
      gap: 1.2rem;
    }
  }

  @media (max-width: 700px) {
    &__container {
      justify-content: left;
    }
    &__toggle {
      display: flex;
    }
    &__links {
      display: none;
      &--open {
        display: flex;
      }
    }
  }
}

@keyframes navbar-slide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
